<p id="notice"><%= notice %></p>
<div class="feed">
  

   <% @cooperatives.each do |cooperative| %>
  
  <div class="item shadow">
   <%= link_to cooperative do %>

  <div class="image">
    <%= image_tag cooperative.image.url(:thumb) %>
  </div>
  <% end %>
    <p><strong>name :</strong> <%= cooperative.name %></p>
        <div class="actionbar">
  <div class="left">
    <%= link_to like_cooperative_path(cooperative), class: "like", method: :put do %>
      <button type="button" class="btn btn-info" >
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span class="badge"><%= cooperative.get_upvotes.size %> </span>
      </button>
  
    <% end %>
  </div>
    <div class="right">

      <%= time_ago_in_words(cooperative.created_at)%>
    </div>

  </div>
  </div>
  
  <% end %>


  <%= link_to "sign up", new_user_registration_path %>
  </div>


